{% extends 'base.html' %}
{% load static %}
{% block content %}
<meta http-equiv="refresh" content="1; url={% url 'bind_TG' %}" data-method="get">
<div align="center">
    <a href="https://t.me/mafChaizerBot" border="0" style="cursor:default" rel="nofollow" target="_blank">
        <img src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Ft.me%2FmafChaizerBot&chs=180x180&choe=UTF-8&chld=L|2">
    </a>
    <h2>кликните или отсканируйте код для перехода в ТГ-бот</h2>
</div>
{% endblock %}
